In [1]:
import numpy as np
import pandas as pd

import torch
import torch.nn as nn

import pyupbit

In [2]:
price = pd.read_csv('../raw_data/price_2021-12-18.csv', header=0, index_col=0)
mktcap = pd.read_csv('../raw_data/mktcap_2021-12-18.csv', header=0, index_col=0)
turnover = pd.read_csv('../raw_data/turnover_2021-12-18.csv', header=0, index_col=0)

In [3]:
print(price.head())
print(mktcap.head())
print(turnover.head())

            A005930   A000660  A035420  ...  A033780  A069500  A229200
1997-11-15    795.0  254993.0      NaN  ...      NaN      NaN      NaN
1997-11-17    754.0  246842.0      NaN  ...      NaN      NaN      NaN
1997-11-18    756.0  254993.0      NaN  ...      NaN      NaN      NaN
1997-11-19    768.0  257321.0      NaN  ...      NaN      NaN      NaN
1997-11-20    738.0  267801.0      NaN  ...      NaN      NaN      NaN

[5 rows x 27 columns]
                 A005930       A000660  A035420  ...  A033780  A069500  A229200
1997-11-15  4.183569e+12  1.226261e+12      NaN  ...      NaN      NaN      NaN
1997-11-17  3.967813e+12  1.187063e+12      NaN  ...      NaN      NaN      NaN
1997-11-18  3.978338e+12  1.226261e+12      NaN  ...      NaN      NaN      NaN
1997-11-19  4.041486e+12  1.237456e+12      NaN  ...      NaN      NaN      NaN
1997-11-20  3.883615e+12  1.287855e+12      NaN  ...      NaN      NaN      NaN

[5 rows x 27 columns]
                 A005930       A000660  A035420  ...  A033780  A069500  A229200
1997-11-15  1.084900e+10  1.890000e+09      NaN  ...      NaN      NaN      NaN
1997-11-17  9.976000e+09  2.502000e+09      NaN  ...      NaN      NaN      NaN
1997-11-18  1.524600e+10  1.024200e+10      NaN  ...      NaN      NaN      NaN
1997-11-19  1.545300e+10  2.033000e+09      NaN  ...      NaN      NaN      NaN
1997-11-20  2.026500e+10  2.987000e+09      NaN  ...      NaN      NaN      NaN

[5 rows x 27 columns]

In [4]:
price['A005930'].iloc[0]

795.0

In [5]:
pyupbit.get_ohlcv('KRW-BTC', 'minute1', 1000)

                           open        high  ...    volume         value
2022-04-09 05:34:00  53458000.0  53573000.0  ...  1.478036  7.908658e+07
2022-04-09 05:35:00  53527000.0  53552000.0  ...  0.428344  2.292101e+07
2022-04-09 05:36:00  53527000.0  53530000.0  ...  0.143334  7.672467e+06
2022-04-09 05:37:00  53530000.0  53530000.0  ...  0.220806  1.181927e+07
2022-04-09 05:38:00  53526000.0  53550000.0  ...  0.047832  2.560942e+06
...                         ...         ...  ...       ...           ...
2022-04-09 22:09:00  53034000.0  53035000.0  ...  0.393527  2.086971e+07
2022-04-09 22:10:00  53032000.0  53032000.0  ...  0.577224  3.060493e+07
2022-04-09 22:11:00  53024000.0  53024000.0  ...  1.277001  6.769624e+07
2022-04-09 22:12:00  53005000.0  53023000.0  ...  0.915928  4.856324e+07
2022-04-09 22:13:00  53023000.0  53072000.0  ...  2.875052  1.524257e+08

[1000 rows x 6 columns]

In [6]:
k200 = pd.read_csv("../raw_data/k200.csv", header=0, index_col=0)
kq = pd.read_csv("../raw_data/kq.csv", header=0, index_col=0)

In [7]:
k200 = k200.values
kq = kq.values

In [8]:
k200.shape

(5000, 6)

In [9]:
k200 = k200.reshape(-1, 1, 6)
kq = kq.reshape(-1, 1, 6)
values = np.concatenate((k200, kq), axis=1)

In [10]:
values.shape

(5000, 2, 6)

In [11]:
k200

array([[[8.99300003e+01, 9.06900024e+01, 8.89899979e+01, 8.89899979e+01,
         3.89746200e+08, 2.53390500e+12]],

       [[8.80199966e+01, 8.96500015e+01, 8.73700027e+01, 8.92699966e+01,
         5.54645100e+08, 3.14184500e+12]],

       [[8.91800003e+01, 8.99000015e+01, 8.81900024e+01, 8.86299973e+01,
         3.91938000e+08, 2.62023300e+12]],

       ...,

       [[3.62040009e+02, 3.62959991e+02, 3.60519989e+02, 3.61010010e+02,
         1.76510200e+08, 6.51278600e+12]],

       [[3.58429993e+02, 3.58920013e+02, 3.55369995e+02, 3.55730011e+02,
         1.93937400e+08, 7.70497200e+12]],

       [[3.56859985e+02, 3.57619995e+02, 3.54269989e+02, 3.56010010e+02,
         1.66111900e+08, 6.73753100e+12]]])

In [12]:
values = np.concatenate((values, values), axis=-1)

In [13]:
values[0, 0]

array([8.99300003e+01, 9.06900024e+01, 8.89899979e+01, 8.89899979e+01,
       3.89746200e+08, 2.53390500e+12, 8.99300003e+01, 9.06900024e+01,
       8.89899979e+01, 8.89899979e+01, 3.89746200e+08, 2.53390500e+12])

In [33]:
inputs = torch.tensor([[0.9, 0.1], [0.1, 0.9]])
targets = torch.tensor([[0.1, 0.9], [0.1, 0.9]])

In [34]:
kld = nn.KLDivLoss(reduction='batchmean', log_target=False)

In [35]:
kld(torch.log(inputs), targets)

tensor(0.8789)